body {
    padding: 0;
    margin: 0;
    background-color: #0D1117;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #9198A1;
}

header {
    display: flex;
    align-items: center;
    padding: 16px 130px;
    background-color: #25292E;
    color: white;
}

header nav {
    display: flex;
    align-items: center;
    height: 30px;
}

header nav img {
    width: 16px;
    height: 16px;
    margin-left: 4px;
}

.logo {
    width: 32px;
    height: 32px;
}

header ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 10px;
}

header a {
    align-items: center;
    padding: 6px 8px;
    margin-left: 5px;
    color: whitesmoke;
    text-decoration: none;
}

form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 985px;
}

.search-bar {
    right: 280px;
}

.search-type {
    width: 310px;
    height: 32px;
    padding: 10px 10px 10px 30px;
    background-color: #25292E;
    border: 1px solid #bbc0c5;
    border-radius: 5px;
    font-size: 13px;
    color: white;
}

.dash {
    right: 0;
}

.search-bar, .dash {
    position: absolute;
    padding: 5px;
}

.sign-up {
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.sign-in, .sign-up {
    padding: 8px 10px;
    margin-left: 10px;
}

.category-nav ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
    padding: 10px;
}

.category-nav ul a {
    margin: 0px 10px;
    color: #9198A1;
    text-decoration: none;
}

.category-nav .blue-line {
    padding-bottom: 16px;
    border-bottom: 2px solid #1074E7;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
}

.top-content {
    width: 669px;
    padding: 24px 16px;
    padding-left: 300px;
}

h2 {
    margin: 0px;
    margin-bottom: 20px;
    font-weight: 500;
}

.game-off-img {
    width: 100%;
    height: 300px;
    border-bottom: 1px solid #3D444D;
    border-radius: 10px 10px 0px 0px;
}

.name {
    display: flex;
    margin-bottom: 20px;
    gap: 10px;
}

.name h6 {
    margin: 0;
}

.link-one {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #4493F8;
}

.game-bytes p {
    margin-top: 10px;
}

.collection {
    margin-top: 25px;
}

.tag {
    display: flex;
}

.tag h3 {
    background-color: #111D2F;
    border-radius: 10px; 
    padding: 60px 65px;
    margin: 0px 5px 5px 10px;
}

.description {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.description p {
    padding: 1px 0px;
}

.link {
    color: #4493F8;
    text-decoration: none;
    font-size: 14px;
}

.game-off, .collection {
    border: 1px solid #3D444D;
    border-radius: 10px;
}

.game-bytes, .collection {
    padding: 15px;
}

aside {
    display: flex;
    flex-direction: column;
    width: 288px;
    margin: 24px 16px;
}

/*aside article {
    padding: 16px;
}*/

aside article {
    display: flex;
    align-items: center;
    padding: 16px;
    border: 1px solid #3D444D;
}

.section-name {
    border-radius: 5px 5px 0px 0px;
    background-color: #151B23;
    color: #F0F6FC;
}

.developers {
    display: flex;
    width: 100%;
    gap: 10px;
    border-radius: 5px;
}

article h4 {
    color: #4493F8;
}

.user-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.developer-name {
    height: 80px;
}

article h4, article p {
    margin: 0;
}

.book-mark {
    display: flex;
    margin: 10px 0px;
}

.book-mark img {
    height: 20px;
    margin: 2px 5px 0px 0px;
}

.article-footer {
    border-radius: 0px 0px 5px 5px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 80px 0px 30px 0px
}

.footer-credits {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-list {
    display: flex;
    padding-left: 15px;
    gap: 15px;
}

.footer-list li {
    list-style: none;
}

.footer-list li a {
    color: #9198A1;
    text-decoration: none;
}

.footer-credits p, .footer-list a {
    font-size: 14px;
}

