body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 370px;
}

h2 {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
}

.input-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 369px;
}

input {
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
}

.add-task {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}

.add-task:hover {
    background-color: #0056b3;
}

.task-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.task {
    background-color: #dff0ff;
    padding: 8px;
    margin: 10px 0;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.completed {
    background-color: #abd97b;
    text-decoration: line-through;
}
